@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

body{
    max-height: 999999px;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-text-size-adjust: 100%;

}

h1{ text-align: center;}

  /*ハンバーガーここから*/
  #nav-drawer {
      position:fixed; top:10px; left:10px;
      color: #ffffff;
      text-decoration: none;
      
    }
    
    /*チェックボックス等は非表示に*/
    .nav-unshown {
      display:none;
    }
header{
    background-color: #5c5c5c;
    background-image: url("./logo_mini.png");
    background-position: center;
    background-size:70px, 70px;
    height: 80px;
    position: center;
    text-align: center;
    background-repeat: no-repeat;
    border-width: 1px;
}
img{
    pointer-events: none;
  }
  
  /*ハンバーガーここから*/
  #nav-drawer {
      position:fixed; top:10px; left:10px;
      color: #ffffff;
      text-decoration: none;
      
    }
    
    /*チェックボックス等は非表示に*/
    .nav-unshown {
      display:none;
    }
    
    /*アイコンのスペース*/
    #nav-open {
      display: inline-block;
      width: 35px;
      height: 35px;
      vertical-align: middle;
    }
    
    /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 4.2px;/*線の太さ*/
        width: 35px;/*長さ*/
        border-radius: 3px;
        background: rgb(255, 255, 255);
        display: block;
        content: '';
        cursor: pointer;
      }
      #nav-open span:before {
        bottom: -11.2px;
      }
      #nav-open span:after {
        bottom: -22.4px;
      }
    
    /*閉じる用の薄黒カバー*/
    #nav-close {
      display: none;/*はじめは隠しておく*/
      position: fixed;
      z-index: 99;
      top: 0;/*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
    }
    
    /*中身*/
    #nav-content {
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;/*最前面に*/
      width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
      max-width: 30%;/*最大幅（調整してください）*/
      height: 100%;
      background: #202020;/*背景色*/
      transition: .3s ease-in-out;/*滑らかに表示*/
      -webkit-transform: translateX(-105%);
      transform: translateX(-105%);/*左に隠しておく*/
      
    }
    
    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
      display: block;/*カバーを表示*/
      opacity: .5;
    }
    
    #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);/*中身を表示（右へスライド）*/
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }
  
  
  /*ハンバーガーここまで*/


 
@media screen and (min-width:480px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
    body{
        background-color: rgb(173, 216, 148);
        font-size: 320%;
    }

}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    body{
        background-color: rgb(255, 153, 0);
        font-size: 300%;
    }
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    body{
        background-color: rgb(32, 32, 32);
        color: rgb(255, 255, 255);
        font-size: 200%;
    }
    #navi-content{
        max-width: 300px;/*最大幅（調整してください）*/
    }
 
}

#animation {
margin: 50px 0;
font-size: 40px;
font-weight: bold;
color: #ff0000;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

img.img1{
max-width: 100%;
height: auto;
}
